{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rundumu Store</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript">
      var user = '{{request.user}}'

      function getToken(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      
      var csrftoken = getToken('csrftoken')

      function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for (var i = 0; i < cookieArr.length; i++) {
          var cookiePair = cookieArr[i].split("=");

          if (name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
          }
        }

        return null;
      }
      
      var cart = JSON.parse(getCookie('cart'))

      if (cart == undefined) {
        cart = {}
        console.log('Cart Created!', cart)
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
      }

      console.log('cart:', cart)
    </script>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'store' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


        <!-- <div class="col""> -->
      <form class="d-flex" style="align-self: end my-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
          <!-- </div> -->

        <div class="my-2 " id="navbarSupportedContent">
            <ul class="navbar-nav">
              
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}">
                    <span style="background-color: green; 
                                color: white; 
                                border-radius: 50%; 
                                width: 20px; 
                                text-align: center;
                                display:block;">{{cartItems}}</span>                  
                  </a>     
                </li>
                  
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'cart' %}">
                  <span style="background-color: green; 
                              color: white; 
                              border-radius: 50%; 
                              width: 20px; 
                              text-align: center;
                              display:block;">{{cartItems}}</span>                  
                </a>     
              </li>
              {% endif %}
              
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
        <!-- </div>   -->
          

      <!--<div class="col">
          <img src="{% static 'img/cart.png' %}" style="height: 50px; width: 50px;">-->
      </div>
    </div>
  </div>
  </nav>

  {% block content %}
  
  {% endblock %}
    
  <br>
  <br>
  <br>
  <br>
  <br>
    

    
  <footer class="footer py-3 bg-dark" style="margin-bottom: 0%;">
    <div class="container" style="color: white;">
      <div class="row">
          <div class="col">
            Category
          </div>
          <div class="col">
            About Us
          </div>
      </div>
      <div class="row">
        <div class="col">
          {% for cat in categories %}
            <a href="#">{{cat.name}}</a>
            <br>
          {% endfor %}
        </div>
        <div class="col">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
    </div>
  </footer>
  
    

    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

    <!-- React -->
</body>
</html>
 

